html {
    width: 100%;
}
body {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Calibri', sans-serif;
    background-color:rgb(231, 240, 248);
}

button {
    background-color: rgb(231, 240, 248);
    border: 2px solid black;
    padding: 10px 30px;
    letter-spacing: 2px;
    cursor: pointer;
}
button:hover {
    background-color: black;
    border: 2px solid black;
    padding: 10px 30px;
    letter-spacing: 2px;
    color: white;
}

header {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#logo {
    padding-right: 110px;
}
#menu-icon {
    padding-left: 110px;
    cursor: pointer;
}
#menu {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    padding: 50px 30px 40px 40px;
    justify-content: center;
    align-items: center;
}
#left-part {
    width: 320px;
    display: flex;
    flex-direction: column;
}
#man {
    width: 280px;
    align-self: flex-end;
    padding-bottom: 25px;
}
#group {
    width: 240px;
    align-self: flex-start;
    padding-bottom: 25px;
}
#right-part {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
#right-part > p {
    width: 240px;
    font-size: 15px;
    padding: 7px 0;
}
#building {
    max-width: 240px;
    height: 350px;
}
#text-block {
    position: absolute;
    top: 45px;
    left: 50px;
    background-color: white;
    padding: 10px 20px 80px 20px;
    width: 215px;
}
#text-block > h1 {
    font-family: sans-serif;
    font-size: x-large
}
#text-block > p {
    font-size: 16px;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 37, 37);
    color: white;
    font-size: small;
    text-align: center;
}
footer > p {
    max-width: 290px;
    font-size: 14px;
}